
body{ 
	height: 100%;
	margin: 0;
	background: lightgreen;
}
#reset {
	height: 20px;
	background: lightgray
}
#theTable {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.hwrapper {
  display: flex;
  flex: 1;
}
.hwrapper > div {
  font-size: 4vh;
  color: white;
  background: black;
  margin: .1em;
  padding: .3em;
  border-radius: 3px;

}
.hwrapper > div.od {
	flex: 1 1;
}
.hwrapper > div.even {
	flex: 1 0;
}

.jeton {
	background-color: green;
	border-radius: 50%;
	height: 100%;
}
